@import 'variables';

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 50px;
    height: 50px;
}

.press_key, .caps-is-on{
    background-color: blue;
    transform: scale(0.7, 0.7);
}