@import '/src/sass/abstracts/variables';

.text_area {
    resize: none;
    height: 150px;
    background-color: $COLOR-BACKGROUND;
    border: 1px solid #e1e6f5;
    box-shadow: 0 0 5px #888;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}